<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiMArt | <%= title %></title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/products.css">
</head>
<body<% if (authenticated) { %> class="authenticated-page"<% } %>>
    <%- partial('../components/common/header', locals) %>
    <main>
        <%- body %>  
    </main>  
    <%- partial('../components/common/footer', locals) %>
    <div class="overlay"></div>
    <script src="/scripts/session-monitor.js"></script>
    <script src="/scripts/cornerAnimation.js"></script>
</body>
</html>