<div class="form-container">
    <div class="form-header">
        <div class="form-title">FORGOT PASSWORD</div>
    </div>
    <div class="form-sections">
        <div class="sect">
            <form action="/password/forgot" method="POST" autocomplete="off">
                <label for="email">Enter your email:</label>
                <input type="email" id="email" name="email" autocomplete="off" required>
                
                <div class="btn-container">
                    <button type="submit">Send Reset Link</button>
                </div>
            </form>
        </div>
        <div class="sect login-info">
            <div class="utils">
                <p>Remember your password? <a href="/users/login">Login here</a></p>
            </div>
            <% if (typeof message !== 'undefined' && message) { %>
                <div class="message">
                    <%= message %>
                </div>
            <% } %> 
        </div>
    </div>
</div>