<div class="form-container">
    <div class="form-header">
        <div class="form-title">RESET PASSWORD</div>
    </div>
    <div class="form-sections">
        <div class="sect">
            <form action="/password/reset/<%= token %>" method="POST" autocomplete="off">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" autocomplete="off" required>
                
                <label for="confirm">Confirm Password:</label>
                <input type="password" id="confirm" name="confirm" autocomplete="off" required>
                
                <div class="btn-container">
                    <button type="submit">Reset Password</button>
                </div>
            </form>
        </div>
        <div class="sect login-info">
            <div class="utils">
                <p>Remember your password? <a href="/users/login">Login here</a></p>
            </div>
            <% if (typeof message !== 'undefined' && message) { %>
                <div class="message">
                    <%= message %>
                </div>
            <% } %> 
        </div>
    </div>
</div>