<head>
    <link rel="stylesheet" href="/<%= versionedAsset('styles/footer.css') %>">
</head>

<footer>
    <p>Erin Drew Covacha | DigiMArt &copy; <%= new Date().getFullYear() %> All rights reserved.</p>
</footer>