<head>
    <link rel="stylesheet" href="/<%= versionedAsset('styles/footer.css') %>">
</head>

<footer>
    <p>Erin Drew Covacha | DigiMArt &copy; <%= new Date().getFullYear() %> All rights reserved.</p>
    <div class="footer-links">
        <a href="/terms-and-conditions">Terms & Conditions</a>
        <span class="separator">|</span>
        <a href="/privacy-policy">Privacy Policy</a>
    </div>
</footer>